# Ignore node_modules
node_modules/

# Ignore log files
*.log
logs
npm-debug.log*

# Ignore environment variables
.env

# Ignore build output
dist/
build/

# Ignore TypeScript cache
*.tsbuildinfo

# Ignore IDE files
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db